html {
    background-image: url("https://img.search.brave.com/2qg2pG3bIszwtVQNH1sYrSTsbhX8DDn2aVvZLj8yl6Q/rs:fit:623:1200:1/g:ce/aHR0cHM6Ly9mc2Iu/em9iai5uZXQvY3Jv/cC5waHA_cj1VUkJ0/bmtGRW1ockdabkZf/SVFnY2hKcllTaS1J/NHp6dUltUlhpQlRw/R0U2MHZhSXY1Q0Zz/Q1NvUkZlMEhBcFFB/cWhzT1lCV3RFcG5P/c01xemVjSkxCckZn/YlNUTUUwMVF5MWQy/VHhScW8zbzVDclBm/RU5ieGNHNGpoS2dZ/NzJiSG0zMUVuQ3Z3/Sm5GZmhxQXc");
    background-size: fit;
    background-position: center;
    width: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

p {
    font-size: 18px;
    color: white;
    font-family: 'Rowdies', cursive;
}

#title {
    text-align: center;
    color: white;
    font-family: 'Rowdies', cursive;
}

#loveletter {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.5);
}

img {
    height: 200px;
    border-radius: 20px;
}

.imagebox {
    height: 200px; 
    margin-top: 50px; 
    margin-bottom: 50px;
    position: relative;
}

.heart {
    z-index : 999;
    position : absolute;
    animation : heartfade 6s linear;
    left: 45%;
    transform: translateX(-50%);
 }
 .heart:before,
 .heart:after {
    content : "";
    background-color : #fc2a62;
    position : absolute;
    height : 30px;
    width : 45px;
    border-radius : 15px 0px 0px 15px;
 }
 .heart:before {
    transform : rotate(45deg);
 }
 .heart:after {
    left : 10.5px;
    transform : rotate(135deg);
 }

 @keyframes heartfade {
    0% {
     opacity : 1;
    }
    50% {
     opacity : 0;
    }
 }